<h1 class="mt-4 text-center">Article</h1>

<div class="text-center"><a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/dashboard" class="btn btn-secondary">Back to dashboard</a></div>
<p></p>
<div class="col-md-6 m-auto">
    <div class="card card-body text-center">
<h3><%= newPost.postTitle %></h3>
<div class="text-muted mb-2"><%= newPost.date.toLocaleDateString() %></div>
<div><%= newPost.postText %></div>
    </div></div></div>